html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
p{
    font-size: 2rem;
}
h1{
    color: #eb2c2c;
    font-size: 6rem;
}
h3{
    color: #eb2c2c;
    font-size: 3rem;
}
button{
    color: #0b0b0b;
    font-size: 3rem;
}
.third-heading{
    color: black;
    font-size: 3rem;
}
.RefundGaming#heading1
{   
    /* font-weight: bold; */
    margin: 1.2rem;
    padding: 0.5rem;
    font-size: 4rem;
    
}
.boxed{
    margin: 1rem;
    padding: auto;
    width: 30rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, red 30%,black 50%);
}  
:root{
    --text-color: red;
}

h1.color#title{
    color: var(--text-color);
}

